<a href="https://colab.research.google.com/github/Barbhuiya12/Hydrology-/blob/main/Data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import numpy as np 
import pandas as pd
##numerical data 

df =pd.DataFrame(np.random.randint(0,1000,size=(10,5)),columns=list('ABCDE'))
df

     A    B    C    D    E
0  685  772  369  519  479
1  335  429  220  587  137
2  880  797  994  758  320
3  457  968  996  848  610
4  900  297  266   68  153
5  172  784  395  597  199
6  357  149  470  665   34
7  266   12  645  780  988
8  593   34  521  181  834
9  695   74  866  369   97

In [12]:
#Catagorical data 
df_c=pd.DataFrame({'Color':["Red","Green","Blue","Yellow"],"Car Brand":["Nano","Tiago","Swift","Inova"]})
df_c

    Color Car Brand
0     Red      Nano
1   Green     Tiago
2    Blue     Swift
3  Yellow     Inova

<h1>Missing Value

In [14]:
create_nan={"Examples":[np.nan,np.nan,20,40,5,0,6,np.nan,30,50,70]}
df_nan=pd.DataFrame(create_nan,columns={'Examples'})
df_nan

    Examples
0        NaN
1        NaN
2       20.0
3       40.0
4        5.0
5        0.0
6        6.0
7        NaN
8       30.0
9       50.0
10      70.0

Check the nan in the data set

In [18]:
df_nan.isnull().values.any()
##Checking specific column 
df_nan["Examples"].isnull().values.any()

True

Fill the nan with zeo

In [22]:
df_clean=df_nan.fillna(0)

Filling nan with backward value (Forward(ffill) or backword(bfill) propagation)

In [24]:
df_nan.fillna(method='ffill')

    Examples
0        NaN
1        NaN
2       20.0
3       40.0
4        5.0
5        0.0
6        6.0
7        6.0
8       30.0
9       50.0
10      70.0

Droping the missing data

In [27]:
df_drop=df_nan.dropna()
df_drop.describe()

        Examples
count   8.000000
mean   27.625000
std    24.657294
min     0.000000
25%     5.750000
50%    25.000000
75%    42.500000
max    70.000000

<h1> Encoding data

In [28]:
pd.get_dummies(df_c)

,Color_Blue,Color_Green,Color_Red,Color_Yellow,Car Brand_Inova,Car Brand_Nano,Car Brand_Swift,Car Brand_Tiago
0,0,0,1,0,0,1,0,0
1,0,1,0,0,0,0,0,1
2,1,0,0,0,0,0,1,0
3,0,0,0,1,1,0,0,0

<h1> Converting data types

In [31]:
df_clean.dtypes

##Converted to string 
df_string=df_clean.astype('string')
df_string.dtypes

Examples    string
dtype: object